branch/1.1.0a/Codigo-Fonte/servidor/wargen/WebContent/wsdl/WsMetodosMobile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.gerador.wargen.com.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.gerador.wargen.com.br" xmlns:intf="http://webservice.gerador.wargen.com.br" xmlns:tns1="http://bean.gerador.wargen.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.gerador.wargen.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.gerador.wargen.com.br"/>
   <element name="fazerLogin">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
      <element name="senha" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fazerLoginResponse">
    <complexType>
     <sequence>
      <element name="fazerLoginReturn" type="tns1:UsuarioBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="listarArquivos">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
      <element name="senha" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listarArquivosResponse">
    <complexType>
     <sequence>
      <element name="listarArquivosReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="testarConexao">
    <complexType/>
   </element>
   <element name="testarConexaoResponse">
    <complexType>
     <sequence>
      <element name="testarConexaoReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.gerador.wargen.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://webservice.gerador.wargen.com.br"/>
   <complexType name="UsuarioBean">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="login" nillable="true" type="xsd:string"/>
     <element name="nome" nillable="true" type="xsd:string"/>
     <element name="senha" nillable="true" type="xsd:string"/>
     <element name="status" type="xsd:boolean"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="listarArquivosResponse">

      <wsdl:part element="impl:listarArquivosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="testarConexaoResponse">

      <wsdl:part element="impl:testarConexaoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listarArquivosRequest">

      <wsdl:part element="impl:listarArquivos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fazerLoginResponse">

      <wsdl:part element="impl:fazerLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fazerLoginRequest">

      <wsdl:part element="impl:fazerLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="testarConexaoRequest">

      <wsdl:part element="impl:testarConexao" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WsMetodosMobile">

      <wsdl:operation name="fazerLogin">

         <wsdl:input message="impl:fazerLoginRequest" name="fazerLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:fazerLoginResponse" name="fazerLoginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listarArquivos">

         <wsdl:input message="impl:listarArquivosRequest" name="listarArquivosRequest">

       </wsdl:input>

         <wsdl:output message="impl:listarArquivosResponse" name="listarArquivosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="testarConexao">

         <wsdl:input message="impl:testarConexaoRequest" name="testarConexaoRequest">

       </wsdl:input>

         <wsdl:output message="impl:testarConexaoResponse" name="testarConexaoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WsMetodosMobileSoapBinding" type="impl:WsMetodosMobile">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="fazerLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fazerLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fazerLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listarArquivos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listarArquivosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listarArquivosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="testarConexao">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testarConexaoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="testarConexaoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WsMetodosMobileService">

      <wsdl:port binding="impl:WsMetodosMobileSoapBinding" name="WsMetodosMobile">

         <wsdlsoap:address location="http://localhost:8080/wargen/services/WsMetodosMobile"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
